.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:   "header"
                          "main"
                          "footer";
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns:  960px;
  background-color: #f8ecf2;
  border: 3px solid;


}


header {
  grid-area: header;
  text-align: center;


}

#miami1{
  padding-top: 10px;

}

.p{
  padding-left: 20px;
padding-right:20px;
line-height:20px;
}

main {
  grid-area: main;
  text-align: center;


}

nav {
  grid-area: nav;

}



nav ul li{
  list-style: none;
  display: inline-block;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-top: 20px;

}


nav ul li a{
  text-decoration: none;
font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  padding-left: 5px;


}

nav ul li a:hover{
color:  #ffff4d;
}

ul{
  font-family: 'Inconsolata', monospace;
  list-style-type: none;
  margin:0;
  padding: 0;

}
h1{
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  font-family: 'Poller One', cursive;
  text-shadow: 4px 4px #ff6699;

}


h2{
  text-align: center;
    font-family: 'Poller One', cursive;
    font-weight: normal;
    text-shadow: 2px 2px #ffff4d;

}


h3{
  text-align: center;
  font-family: 'Poller One', cursive;
text-shadow: 2px 2px #b3ffff;

}




ul.bullet{
  list-style-type: square;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bolder;

}

a:hover {
  color: #cc33ff;

}

p {
  font-family: 'Inconsolata', monospace;
  text-align: justify;
  font-size: 16;
}



footer {
  padding-top: 50px;
  grid-area: footer;
  text-align: center;

}


img{
    max-width:100%;
    height: auto;
}



#miami2{
  display:none;


}

#photo{

padding-bottom: 20px;
padding-top: 10px;
}

.imgtext{
width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

#sweet{
  display:none;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}


#box0{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

#toggle{
  display:none;
}


button{
  color: white;
  background-color: #4dff88;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
}
