.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:   "header"
                          "main"
                          "footer";
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns:  960px;


}


header {
  grid-area: header;
  text-align: center;


}

#miami1{
  padding-top: 10px;

}

.p{

}

main {
  grid-area: main;
  text-align: center;


}

nav {
  grid-area: nav;

}



nav ul li{
  list-style: none;
  display: inline-block;
  padding-right: 80px;
  padding-bottom: 50px;

}


nav ul li a{
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

nav ul li a:hover{
color: #2d2d86;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;

}

h1{
  padding-right: 30px;
  font-size: 50px;
  padding-top: 50px;

}

h2{
  text-align: center;


}

h3{
  text-align: center;

}




ul.bullet{
  list-style-type: square;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bolder;

}

a:hover {
  color: #2d2d86;

}

p {
  font-family: 'PT Sans', sans-serif;
}



footer {
  padding-top: 50px;
  grid-area: footer;
  text-align: center;

}


img{
    max-width:100%;
    height: auto;
}



#miami2{
  display:none;
  width: 600px;
  height: auto;
  padding-top: 20px;
    margin-left: auto;
    margin-right: auto

}

.imgtext{
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#p{
  display:none;
}


#box0{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

#toggle{
  display:none;
}
